*{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background: #420e96;
}
.navbar{
    width: 100%;
    height: 30px;
    background: #020321;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar .nav-elem{
    display: flex;
    margin-right: 20px;
}
.navbar .nav-elem li{
    list-style-type: none ;
    margin-left: 10px;
}
.navbar .nav-elem a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    
}
.navbar h1 {
    font-weight: bold;
    font-size: 1.7em;
    color: #fff;
    font-family: sans-serif;
}